.container {
  width: 45%;
  min-width: 250px;
  height: 200px;
  background-color: rgb(54, 230, 81);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: url("../../../images/background-lights.jpg");
  text-transform: uppercase;
  background-clip: text;
  background-size: contain;
  color: transparent;
  font-size: 60px;
  animation: moveBackgroundHorizontally 10s alternate infinite;
}

@keyframes moveBackgroundHorizontally {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 100%;
  }
}
