.button {
  height: 100px;
  width: 200px;
  background-color: #7200cf;
  color: #fff;
  font-size: x-large;
  font-weight: 700;
  transition-duration: 0.5s;
  transition-property: all;
  position: relative;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7200cf;
  transition: 0.3s all;
  z-index: -1;
}

.button:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: translateY(0px);
}

.button:hover::before {
  transform: scale(1.5);
  opacity: 0;
}
