#ease {
  transition-timing-function: ease;
}

#linear {
  transition-timing-function: linear;
}

#easeIn {
  transition-timing-function: ease-in;
}

#easeOut {
  transition-timing-function: ease-out;
}

#easeInOut {
  transition-timing-function: ease-in-out;
}

.move:hover {
  transform: translate(900px, 0);
}

.button {
  background-color: brown;
  width: 100px;
  height: 100px;
  color: #fff;
  transition-duration: 2s;
  transition-property: translate();
}
