.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  height: 60px;
  width: 80%;
}

.container > li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: xx-large;
  transition: all 0.5s;
}

.container > li:hover {
  background-color: purple;
  color: white;
}

.linkHeader::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 15px;
  height: 15px;
  transition: all 0.5s;
  border-top: 3px solid purple;
  border-right: 3px solid purple;
  opacity: 0;
}

.linkHeader::after {
  content: "";
  position: absolute;
  width: 15px;
  bottom: 0;
  left: 0;
  height: 15px;
  transition: all 0.5s;
  border-bottom: 3px solid purple;
  border-left: 3px solid purple;
  opacity: 0;
}

.linkHeader:hover::after {
  opacity: 1;
  bottom: -8px;
  left: -8px;
}

.linkHeader:hover::before {
  opacity: 1;
  top: -8px;
  right: -8px;
}
