.button {
  height: 100px;
  width: 200px;
  color: #272727;
  font-size: x-large;
  font-weight: 700;
  border: 5px solid #272727;
  transition-duration: 0.5s;
  transition-property: all;
  position: relative;
  overflow: hidden;
}

.button:hover {
  color: white
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  border-radius: 0 0 50% 50%;
  background-color: #272727;
  transition: all 0.5s;
  z-index: -1;
}

.button:hover::before {
  height: 200%;

}