.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 300px;
  transition: all 0.5s;
}

.cardContent {
  width: 100%;
  z-index: 2;
}

.cardContent img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
  width: 250px;
  z-index: 3;
}

.cardTextContent {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  gap: 1rem;
  height: 100%;
  z-index: 2;
  transition: all 0.5s;
  transform: translateX(50%);
  opacity: 0;
}

.card:hover {
  width: 550px;
}

.card:hover img {
  transform: translateX(0);
}

.card:hover .cardTextContent {
  transform: translateX(0);
  opacity: 1;
}
