.container {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.container > img {
  width: 100%;
  height: 100%;
  transition: 0.5s all;
}

.caption {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00000080;
  color: #fff;
  transition: 0.5s all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caption > h3 {
  font-size: xx-large;
}
.container:hover > img {
  transform: rotate(15deg) scale(2);
}

.container:hover .caption {
  top: 0;
}
